* {
    background-color: antiquewhite;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bolder;
}
h2 {
    font-weight: bold;
}

img {
    height: auto;
    width: 200px;
}

